@import '../../../../theme/theme-variables';

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  &__card {
    border-radius: $card-border-radius;
    max-width: 50vw;
  }
  &__text {
    text-align: center;
    font-size: 1.3rem;
    color: #039be5;
    padding: 0 24px 24px 24px;
    width: 80%;
    margin: 0 auto;
  }
  &__spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }
}

.lobby {
  height: 100%;
  &__header {
    background: transparent;
    position: fixed;
    color: rgba(0, 0, 0, 0.54);
    height: $toolbar-height;
    color: #fafafa;
    &__icon {
      font-size: 36px;
      height: 36px;
      width: auto;
    }
    img {
      height: 32px;
      width: auto;
      border-radius: 50%;
    }
  }
  &__hero {
    padding: 200px 0;
    background-image: url(/assets/images/lobby-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;
    &__title {
      font-size: 30px;
      font-weight: 500;
      font-family: $secondary-font !important;
    }
    &__text {
      font-size: 16px;
      max-width: 450px;
      font-family: $secondary-font !important;
    }
  }
  &__projects {
    padding: 0 0;
    background-color: #eceff1;
    &__container {
      margin-top: -64px;
      display: flex;
      flex-wrap: wrap;
    }
    &__project {
      width: 250px;
      margin: 0 12px 24px;
      padding: 8px 12px 12px 24px;
      height: 200px;
      border-radius: $card-border-radius;
      cursor: pointer;
    }
    &__remove {
      color: #039be5;
    }
    &__add {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #039be5;
      font-weight: 600;
      height: 100%;
      &__icon {
        font-size: 48px;
        height: 48px;
        width: 48px;
      }
    }
    &__user {
      cursor: pointer;
      height: calc(100% - 40px);
      h2 {
        color: black;
        font-weight: 400;
      }
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
