@import '../../../../theme/theme-variables';

.sidenav-container {
  height: 100%;
}

.content {
  &__header {
    position: fixed;
    background: transparent;
    height: 48px;
    width: calc(100% - 276px);
    @media only screen and (max-width: 1199px) {
      width: 100%;
    }
    img {
      height: 32px;
      width: auto;
      border-radius: 50%;
    }
  }
  &__inner {
    //padding: 48px 24px 24px 24px;
    height: calc(100% - 48px);
  }
}

.sidenav {
  width: 260px;
  background-color: #18212A;
  overflow-x: hidden;
  &__header {
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    background: #252F3C;
    color: #fafafa;
    height: 48px;
    &__icon {
      font-size: 36px;
      height: 36px;
      width: 36px;
    }
  }
  &__list {
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    padding: 16px 0;
    a {
      color: #757575;
      font-size: 1.2rem;
      font-weight: 500;
      span {
        font-family: $secondary-font !important;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
    &__icon {
      margin-right: 16px;
    }
  }

}
