@import '../../../../theme/theme-variables';

.overview {
  position: relative;
  height: 100%;
  padding: 24px;
  &:before {
    content: "";
    height: 400px;
    width: 100%;
    position: absolute;
    top: -48px;
    left: 0;
    background: #0099E0;
    z-index: -1;
  }
  &__hero {
    height: 400px;
    background-image: url(/assets/images/overview.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 960px;
    &__title {
      color: #fafafa;
      font-size: 2.5rem;
      padding-top: 64px;
      font-weight: 500;
      line-height: 1.3;
      font-family: $secondary-font !important;
    }
    &__text {
      color: #fafafa;
      font-size: 1.2rem;
      padding-top: 12px;
      font-weight: 500;
      line-height: 1.3;
      max-width: 50%;
      font-family: $secondary-font !important;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100% - 152px);
    max-width: 960px;
    &__title {
      margin: 24px 0 12px 0;
      color: #757575;
    }
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    flex: 1 1 50%;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 1 26%;
      max-height: 140px;
      &__header {
        margin-left: -8px;
      }
      &__title {
        font-size: 1.2rem;
        font-weight: 600;
      }
      &__icon {
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        margin-right: 8px;
      }
      &__action {
        color: #0099e1;
        font-weight: 600;
        float: right;
      }
    }
  }
  &__manage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 0 47%;
      img {
        border-radius: 10px 10px 0 0;
      }
      &__header {
        margin-left: -8px;
      }
      &__title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #fafafa;
      }
      &__subtitle {
        margin-bottom: 0;
        color: #fafafa;
      }
      &__action {
        color: #0099e1;
        font-weight: 600;
        float: right;
      }
    }
  }
  .card {
    border-radius: 10px;
    margin: 8px 12px 24px 0;
    cursor: pointer;
    &--orange {
      background: #F56848;
    }
    &--blue {
      background: #0082D0;
    }
    &--green {
      background: #00B4C6;
    }
    &--purple {
      background: #35489A;
    }
  }
}
