@import '../../../../theme/theme-variables';

.pages {
  height: 100%;
  max-width: $container-max-width;
  &__header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 12px;
    &__title {
      font-size: 1.5rem;
      font-weight: 600;
      &--isLink {
        cursor: pointer;
        color: #637282;
        &:hover {
          text-decoration: underline;
        }
      }
      &__icon {
        position: relative;
        font-size: 23px;
        top: 6px;
        cursor: default;
        color: #637282;
      }
    }
  }
  &__table {
    padding: 0;
    max-height: calc(100% - 100px);
    border-radius: $card-border-radius;
    overflow-y: auto;
    &__table {
      width: 100%;
      .mat-header-row {
        border-radius: $card-border-radius;
      }
      .mat-cell {
        padding-top: 6px;
        padding-bottom: 6px;
        &:first-of-type {
          max-width: 300px;
        }
        &:last-of-type {
          max-width: 100px;
        }
      }
      .mat-header-cell {
        &:first-of-type {
          max-width: 300px;
        }
        &:last-of-type {
          max-width: 100px;
        }
      }
      .mat-row {
        transition: background 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
    &__cell {
      min-height: 71px;
      display: flex;
      align-items: center;
    }
    &__icon {
      color: #86CCFC;
      height: 36px;
      width: 36px;
      font-size: 36px;
      margin-right: 12px;
    }
  }
}
